---
---

@import "minima";

body{
	background-color: #000;
  background-image: url("images/scales.jpg");
	color: #00ff00; }

title{
	color: #00ff00; }


a, .page-link, .site-title {
  color: #00ff00;
  text-decoration: none; }

 
 a:visited, .page-link:visited, .site-title:visited {
    color: #00ff00; }
 
 a:hover, a.page-link:hover, a.site-title:hover{
    color: #F0F7D4;
    text-decoration: underline; }

.social-media-list a:hover {
    text-decoration: none; }

.social-media-list a:hover .username {
      text-decoration: underline; }

 .highlighter-rouge{
  background-color: #000;
  color: #00ff00; }