---
---

 @import "minima";

body{
	background-color: #000;
	color: #00ff00;
}

title{
	color: #00ff00;
}

/**
 * Links
 */
a, .page-link, .site-title{
  color: #00ff00;
  text-decoration: none; }
  a:visited, .page-link:visited, .site-title:visited {
    color: #00ff00; }
  a:hover, .page-link:hover, .site-title:hover{
    color: #99ff99;
    text-decoration: underline; }
  .social-media-list a:hover {
    text-decoration: none; }
    .social-media-list a:hover .username {
      text-decoration: underline; }

 